
/* Cards */

.oeh_hc_dashboard .card,.oeh_doc_dashboard .card{
    margin-left: 3.5vw;
    margin-top:2.5vw;
    min-width:15%;
}

// .oeh_hc_dashboard .row{
//
// }
.oeh_dashboards{
    & .fa-arrow-right{
        display: none;
    }
    & h4{
        color:#000000;
        margin-top:6px;
    }
    & .fa-arrow-right{
        color:#ffffff;
    }
    & .card_icon{
        opacity: 40%;
    }

    & .sm_service_request{
        background:blue;
    }

    & .sm_referral{
        background:#858585;
    }
    & .sm_notification{
        background:#00a7e9;
    }

    & .sm_telemedicine_appointment{
        background:#8e0019;
    }
    & .sm_pcr_appointment{
        background:#858585;
    }
    & .sm_pcr_appointment_c{
        background:#3f48cc;
    }

    & .sm_telemedicine_appointment_c{
        background:#3f48cc;
    }

    & .sm_hhc_appointment{
        background:#ee2029;
    }
    & .sm_hhc_appointment_hd{
        background:#b5e61d;
    }
    & .sm_hhc_appointment_hn{
        background:#ffaec9;
    }
    & .sm_investigation{
        background:#ffaec9;
    }
    & .sm_hhc_appointment_om{
        background:#ffc90e;
    }
    & .sm_hhc_appointment_t{
        background:#880015;
    }

    & .sm_physiotherapy_appointment{
            background:#ff852c;
        }
    & .sm_physiotherapy_appointment_pd{
            background:#ff7f27;
        }
    & .sm_physiotherapy_appointment_om{
        background:#a349a4;
    }
    & .sm_physiotherapy_appointment_t{
        background:#22b14c;
    }
    & .sm_hvd_appointment{
        background:#a84fa9;
    }
    & .sm_hvd_appointment_c{
        background:#b97a57;
    }
    & .sm_lab_test{
        background:#27b552;
    }
    & .sm_image_test{
        background:#00a7e9;
    }

    & .oe_patient{
        background:#a0a832;
    }
    & .oe_total_patient{
        background:#32a8a2;
    }
    & .oe_physicians{
        background:#32a87b;
    }
    & .oe_appointment{
        background:#a85032;
    }
    & .oe_my_appointment{
        background:#a4a832;
    }
    & .oe_schedule{
        background:#3283a8;
    }
    & .oe_invoices{
        background:#232533;
    }
    & .oe_treatments{
        background:#452727;
    }
    & .oe_my_treatment{
        background:#23332f;
    }
    & .sm_payment{
        background:#a84fa9;
    }
    & .sm_cancellation_refund{
        background:#a84fa9;
    }


    & .oeh_patient .bg-info{
        background-color:#a0a832 !important;
    }
    & .oeh_my_patient .bg-info{
        background-color:#32a8a2 !important;
    }
    & .oeh_physician .bg-info{
        background-color:#32a87b !important;
    }
    & .oeh_appointment .bg-info{
        background-color:#a85032 !important;
    }
    & .oeh_my_appointment .bg-info{
        background-color:#a4a832 !important;
    }
    & .oeh_scheduled_apt .bg-info{
        background-color:#3283a8 !important;
    }
    & .oeh_invoice .bg-info{
        background-color:#232533 !important;
    }
    & .oeh_treatment .bg-info{
        background-color:#452727 !important;
    }
    & .oeh_my_treatment .bg-info{
        background-color:#23332f !important;
    }
    & .card-body h1{
       font-size:50px;
       color:#707370;
       background-color: inherit;
        padding: 0px;
        border: 0px;
    }
    & .oeh_total{
        padding-left: 0.6rem !important;
        margin-top: -10px;
        color:#5b5e5b;
    }
}
